---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main class="">
		<div id="principal" class="flex justify-center items-center flex-wrap">
			<h1 class="text-center text-4xl font-bold text-red-500">PARA MI PRINCESA GABY</h1>
			<img class="w-[300px] h-[400px] rounded-3xl object-cover m-4" src="/fotos/imgprin.jpeg" alt="Foto de gaby">
		</div>
	</main>
</Layout>
<style>
	#principal>h1{
		animation: 1s alternate animationPrinc;
	}
	#principal>img{
		animation: 5s alternate animationPrinc;
	}
	@keyframes animationPrinc {
		from{
			opacity: 0;
		}
		to{
			opacity: 1;
		}
	}
	@keyframes animationDesv {
		from{
			opacity: 1;
		}
		to{
			opacity: 0;
		}
	}
</style>
<script>
	const principal=document.getElementById('principal')
	setTimeout(()=>{
			principal.classList.add('hidden')
		},5600)
    setTimeout(()=>{
        console.log('ejecucion... 1')
		principal.style.animation='1s alternate animationDesv'
		
    },5000)
</script>