---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<main class="">
		<div id="principal" class="flex justify-center items-center flex-wrap">
			<h1 class="text-center text-4xl font-bold text-red-500">PARA MI PRINCESA GABY</h1>
			<img class="w-[300px] h-[400px] rounded-3xl object-cover m-4" src="/fotos/imgprin.jpeg" alt="Foto de gaby">
		</div>
		<div class="cards hidden justify-center items-center flex-col gap-7">
			<img class="w-[300px] h-[400px] rounded-xl object-cover" src="/fotos/img1.jpeg" alt="imagen 1">
			<h2 class="text-center text-white p-2 bg-red-500 rounded-xl">CUANDO EMPEZAMOS A SALIR</h2>
		</div>
		<div class="cards hidden justify-center items-center flex-col gap-7">
			<img class="w-[300px] h-[400px] rounded-xl object-cover" src="/fotos/img2.jpeg" alt="imagen 2">
			<h2 class="text-center text-white p-2 bg-red-500 rounded-xl">EN EL AVIÓN EN NUESTRO PRIMER VUELO</h2>
		</div>

		<div class="cards hidden justify-center items-center flex-col gap-7">
			<img class="w-[300px] h-[400px] rounded-xl object-cover" src="/fotos/img3.jpeg" alt="imagen 2">
			<h2 class="text-center text-white p-2 bg-red-500 rounded-xl">EL VIAJE QUE NOS UNIÓ</h2>
		</div>

		<div class="cards hidden justify-center items-center flex-col gap-7">
			<img class="w-[300px] h-[400px] rounded-xl object-cover" src="/fotos/img3-1.jpeg" alt="imagen 2">
			<h2 class="text-center text-white p-2 bg-red-500 rounded-xl">UNO MÁS PORQUE SÍ</h2>
		</div>

		<div class="cards hidden justify-center items-center flex-col gap-7">
			<video class="w-[300px] h-[400px] rounded-xl" loop autoplay src="/fotos/img5.mp4"></video>
			<h2 class="text-center text-white p-2 bg-red-500 rounded-xl">SIENDO SIMPLEMENTE NOSOTROS</h2>
		</div>

		<div class="cards hidden justify-center items-center flex-col gap-7">
			<img class="w-[300px] h-[400px] rounded-xl" src="/fotos/imgCumple.jpeg" />
			<h2 class="text-center text-white p-2 bg-red-500 rounded-xl">CUMPLEAÑOS DE MI PRINCESA</h2>
		</div>

		<div class="cards hidden justify-center items-center flex-col gap-7">
			<img class="w-[300px] h-[400px] rounded-xl" src="/fotos/img6.jpeg" />
			<h2 class="text-center text-white p-2 bg-red-500 rounded-xl">RECUERDO DE FELICIDAD PLENA</h2>
		</div>
		
		<div class="cards hidden justify-center items-center flex-col gap-7">
			<img class="w-[300px] h-[400px] rounded-xl" src="/fotos/SunsetBives.jpeg" />
			<h2 class="text-center text-white p-2 bg-red-500 rounded-xl">SUNSET VIBES</h2>
		</div>

		<div class="cards hidden justify-center items-center flex-col gap-7">
			<img class="w-[300px] h-[400px] rounded-xl" src="/fotos/imgFin.jpeg" />
			<h2 class="text-center text-white p-2 bg-red-500 rounded-xl">CON MI PERSONA FAVORITA MI NÚMERO #1</h2>
		</div>
		<div class="flex justify-around items-center mt-[30px]">
			<button id="anterior" class="hidden p-2 rounded-2xl bg-yellow-300">
				VOLVER
			</button>
			<button id="siguiente" class="hidden p-2 rounded-2xl bg-green-300">
				SIGUIENTE
			</button>
		</div>
	</main>
</Layout>
<style>
	#principal>h1{
		animation: 1s alternate animationPrinc;
	}
	#principal>img{
		animation: 5s alternate animationPrinc;
	}
	@keyframes animationPrinc {
		from{
			opacity: 0;
		}
		to{
			opacity: 1;
		}
	}
	@keyframes animationDesv {
		from{
			opacity: 1;
		}
		to{
			opacity: 0;
		}
	}
</style>
<script>
	const principal=document.getElementById('principal')
	const cards=document.querySelectorAll('.cards')
	const anterior = document.getElementById('anterior')
	const siguiente = document.getElementById('siguiente')
	setTimeout(()=>{
			principal.classList.add('hidden')
			cards[0].classList.remove('hidden')
			cards[0].classList.add('flex')
			siguiente.classList.remove('hidden')

		},5600)
    setTimeout(()=>{
        console.log('ejecucion... 1')
		principal.style.animation='1s alternate animationDesv'
    },5000)
	let i=0;
	siguiente.addEventListener(('click'),()=>{
		if(i===0){
			i++
			anterior.classList.remove('hidden')
			cards[i-1].classList.remove('flex')
			cards[i-1].classList.add('hidden')
			cards[i].classList.remove('hidden')
			cards[i].classList.add('flex')
			return 
		}
		
		if(i!==0 && i<cards.length){
			i++
			cards[i-1].classList.remove('flex')
			cards[i-1].classList.add('hidden')
			cards[i].classList.remove('hidden')
			cards[i].classList.add('flex')
		}
	})
	
</script>