---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main class="flex justify-center items-center flex-wrap">
		<h1 class="text-center text-4xl font-bold text-red-500">PARA MI PRINCESA GABY</h1>
		<img class="w-[300px] h-[400px] rounded-3xl object-cover m-4" src="/fotos/imgprin.jpeg" alt="Foto de gaby">
	</main>
</Layout>
<style>

</style>
