---
import Layout from "../layouts/Layout.astro";
import Cards from "../components/Cards.astro";
---

<Layout>
	<main class="w-full h-full grid place-items-center">
		<img
			id="corazones"
			class="absolute -z-20 h-full w-full object-cover opacity-50"
			src="/fondoCorazon.png"
			alt="fondo corazon"
		/>
		<div class="flex justify-center items-center">
			<h1 class="text-center text-4xl font-bold text-red-100">
				PARA MI PRINCESA GABY
			</h1>
		</div>
		<div id="principal" class="flex justify-center items-center flex-wrap">
			<img
				class="w-[300px] h-[400px] rounded-3xl object-cover m-4"
				src="/fotos/imgprin.jpeg"
				alt="Foto de gaby"
			/>
		</div>
		<Cards img="img1.jpeg" nombre="CUANDO EMPEZAMOS A SALIR" />
		<Cards img="img2.jpeg" nombre="EN EL AVIÓN EN NUESTRO PRIMER VUELO" />
		<Cards img="img3.jpeg" nombre="EL VIAJE QUE NOS UNIÓ" />
		<Cards img="img3-1.jpeg" nombre="UNO MÁS PORQUE SÍ" />
		<div class="cards hidden justify-center items-center flex-col">
			<video
				class="w-[300px] h-[400px] rounded-xl shadow-lg shadow-red-500"
				controls
				autoplay
				src="/fotos/img5.mp4"></video>
			<h2
				class="text-center w-[300px] text-white p-2 bg-red-400 rounded-br-xl rounded-bl-xl shadow-lg shadow-red-500"
			>
				SIENDO SIMPLEMENTE NOSOTROS
			</h2>
		</div>
		<Cards img="imgCumple.jpeg" nombre="CUMPLEAÑOS DE MI PRINCESA" />
		<Cards img="img6.jpeg" nombre="RECUERDO DE FELICIDAD PLENA" />
		<Cards img="SunsetBives.jpeg" nombre="SUNSET VIBES" />
		<Cards
			img="imgFin.jpeg"
			nombre="CON MI PERSONA FAVORITA MI NÚMERO #1"
		/>
		<div
			class="tequiero w-[90%] hidden grid rounded-3xl place-items-center gap-3"
		>
			<div class="bg-[#29072b83] relative rounded-xl">
				<img
					class="w-full h-full absolute -z-10 object-cover opacity-60 rounded-3xl"
					src="/fotos/imagFondo.jpeg"
					alt="fondo foto"
				/>
				<p
					class="text-center rounded-xl p-10 text-lg font-black text-white"
				>
					Te elegí a ti... porque eres la persona que me hace feliz,
					eres la persona que siempre tengo en mi mente a cada minuto.
					Por la cual me arriesgué a decirle todo lo que sentía y no
					me importó nada de nada. Eres tú la persona por quien mi
					corazón late todos los días. Eres tú mi primer pensamiento
					al despertar. siempre me pregunto que estás haciendo, en
					dónde estarás.... Eres tú la persona por la que me muero de
					celos si te miran o te dicen cosas. La persona por la que
					seguiría a pesar de todo eres tú. No me importa nada, no te
					cambiaría por nada ni por nadie
				</p>
			</div>
			<div class="bg-[#c741ce83] relative rounded-xl">
				<img
					class="w-full h-full absolute -z-10 object-cover opacity-60 rounded-3xl"
					src="/fotos/SunsetBives.jpeg"
					alt="fondo foto"
				/>
				<p
					class="text-center rounded-xl p-10 text-lg font-black text-white"
				>
					Quizás no sea la persona perfecta para ti, cometo errores,
					tengo miles de defectos pero, hago lo posible por
					enamorarte, por hacerte feliz, dia a dia me esfuerzo por
					darte lo mejor de mi, para que te sientas bien y te sientas
					feliz junto a mi
				</p>
			</div>
		</div>
		<div id="opciones" class="place-items-center gap-4 hidden">
			<h2
				class="text-center font-black text-white text-3xl p-2 bg-red-300 w-[300px] rounded-xl"
			>
				Elije una opción
			</h2>
			<div class="grid place-items-center gap-5 text-white font-black">
				<button id="opcion1" class="text-4xl p-2 rounded-lg bg-rose-500 w-[400px]"
					>OPCIÓN 1</button
				><button id="opcion2" class="text-4xl p-2 rounded-lg bg-rose-500 w-[400px]"
					>OPCIÓN 2</button
				><button id="opcion3" class="text-4xl p-2 rounded-lg bg-rose-500 w-[400px]"
					>OPCIÓN 3</button
				>
			</div>
		</div>

			<div id="moduloOpcion1" class="hidden text-3xl font-black text-white p-6 w-[70%] h-[200px] rounded-xl bg-yellow-300 justify-center items-center">
				ESTO ES VALIDO PARA UN NUEVO CASE Y SU PROTECTOR DE PANTALLA
			</div>
			<div id="moduloOpcion2" class="hidden text-3xl font-black text-white p-6 w-[70%] h-[200px] rounded-xl bg-rose-300 justify-center items-center">CENA ESPECIAL SORPRESA</div>
			<div id="moduloOpcion3" class="hidden text-3xl font-black text-white p-6 w-[70%] h-[200px] rounded-xl bg-blue-300 justify-center items-center">REGALO	MISTERIOSO</div>

		<div
			class="flex justify-around items-center w-full font-semibold flex-wrap"
		>
			<button id="quieres" class="hidden p-2 rounded-2xl bg-green-300">
				¿QUIERES SABER POR QUE TE QUIERO?😉🫣
			</button>
			<button id="anterior" class="hidden p-2 rounded-2xl bg-yellow-300">
				VOLVER
			</button>
			<button id="siguiente" class="hidden p-2 rounded-2xl bg-green-300">
				SIGUIENTE
			</button>
		</div>
		<div  id="volverInicio" class="hidden flex-wrap-reverse justify-around w-[90%]">
			<button class="bg-rose-400 text-xl text-rose-200 font-black rounded-lg p-2">
				<a href="/">VOLVER AL INICIO</a>
			</button>
			<button class="bg-rose-400 text-2xl text-white font-black rounded-lg p-2">
				<a href="/Carta">
					------- 💌 -------
				</a>
			</button>
		</div>
	</main>
</Layout>
<style>
	#corazones {
		animation: 6s alternate animationPrincC;
	}
	#principal > h1 {
		animation: 1s alternate animationPrinc;
	}
	#principal > img {
		animation: 5s alternate animationPrinc;
	}
	.CardsAparece {
		animation: 2.2s alternate animationPrinc;
	}
	@keyframes animationPrincC {
		from {
			opacity: 0;
		}
		to {
			opacity: 0.5;
		}
	}
	@keyframes animationPrinc {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
	@keyframes animationDesv {
		from {
			opacity: 1;
		}
		to {
			opacity: 0;
		}
	}
</style>
<script>
	const principal = document.getElementById("principal");
	const cards = document.querySelectorAll(".cards");
	const anterior = document.getElementById("anterior");
	const siguiente = document.getElementById("siguiente");
	const quieres = document.getElementById("quieres");
	const tequiero = document.querySelector(".tequiero");
	const opciones = document.getElementById("opciones");
	const opcion1 = document.getElementById('opcion1')
	const opcion2 = document.getElementById('opcion2')
	const opcion3 = document.getElementById('opcion3')
	const volverInicio = document.getElementById('volverInicio')
	const modulOpcion1 = document.getElementById('moduloOpcion1')
	const modulOpcion2 = document.getElementById('moduloOpcion2')
	const modulOpcion3 = document.getElementById('moduloOpcion3')

	setTimeout(() => {
		principal.classList.add("hidden");
		cards[0].classList.remove("hidden");
		cards[0].classList.add("flex");
		siguiente.classList.remove("hidden");
	}, 5600);
	setTimeout(() => {
		principal.style.animation = "1s alternate animationDesv";
	}, 5000);
	let i = 0;
	siguiente.addEventListener("click", () => {
		if (i === 0) {
			i++;
		console.log('primero = ',i);

			anterior.classList.remove("hidden");
			cards[i - 1].classList.remove("flex");
			cards[i - 1].classList.add("hidden");
			cards[i].classList.remove("hidden");
			cards[i].classList.add("flex");
			cards[i].classList.add("CardsAparece");
			return;
		}

		if (i !== 0 && i < 9) {
			i++;
		console.log('continuacion = ',i);

			cards[i - 1].classList.remove("flex");
			cards[i - 1].classList.add("hidden");
			cards[i].classList.remove("hidden");
			cards[i].classList.add("flex");
			cards[i].classList.add("CardsAparece");
		}
		if (i === 8) {
			siguiente.classList.add("hidden");
			quieres.classList.remove("hidden");
		}
		if (i === 9) {
			i++
			console.log(i)
			opciones.classList.remove("hidden");
			opciones.classList.add("grid");
			tequiero.classList.add("hidden");
			

		siguiente.classList.add("hidden");
		anterior.classList.add('hidden')
		}
	});
	anterior.addEventListener("click", () => {
		if (i > 0 && i<=10) {
			i = i - 1;
		console.log('anterior =',i)
			cards[i + 1].classList.remove("flex");
			cards[i + 1].classList.add("hidden");
			cards[i].classList.remove("hidden");
			cards[i].classList.add("flex");
			cards[i].classList.add("CardsAparece");
			for (let index = 0; index < quieres.classList.length; index++) {
				const element = quieres.classList[index];
				if (element === "flex") {
				}
			}
			if (i === 0) {
				anterior.classList.add("hidden");
			}
			if (i === 7) {
				siguiente.classList.remove("hidden");
				tequiero.classList.add("hidden");
				quieres.classList.add("hidden");
			}
			if (i === 8) {
				tequiero.classList.add("hidden");
				opciones.classList.add("hidden");
				opciones.classList.remove("grid");
			}
			if(i===9){
				tequiero.classList.remove("hidden");
			}
		}
		
	});
	quieres.addEventListener("click", () => {
		cards[i].classList.add("hidden");
		cards[i].classList.remove("flex");
		i++;
		quieres.classList.add("hidden");
		console.log(i);
		tequiero.classList.remove("hidden");
		siguiente.classList.remove("hidden");
	});
	opcion1.addEventListener(('click'),()=>{
		opciones.classList.add("hidden");
		opciones.classList.remove("grid");
		modulOpcion1.classList.remove('hidden')
		modulOpcion1.classList.add('flex')
		volverInicio.classList.remove('hidden')
			volverInicio.classList.add('flex')
	})
	opcion2.addEventListener(('click'),()=>{
		opciones.classList.add("hidden");
		opciones.classList.remove("grid");
		modulOpcion2.classList.remove('hidden')
		modulOpcion2.classList.add('flex')
		volverInicio.classList.remove('hidden')
			volverInicio.classList.add('flex')
	})
	opcion3.addEventListener(('click'),()=>{
		opciones.classList.add("hidden");
		opciones.classList.remove("grid");
		modulOpcion3.classList.remove('hidden')
		modulOpcion3.classList.add('flex')
		volverInicio.classList.remove('hidden')
		volverInicio.classList.add('flex')
	})
</script>
