---
const {img,nombre} = Astro.props;
---
<div class="cards hidden justify-center items-center flex-col">
    <img class="w-[300px] h-[400px] rounded-xl object-cover shadow-lg shadow-red-500" src=`/fotos/${img}` alt="imagen 2">
    <h2 class="text-center w-[300px] text-white p-2 bg-red-400 rounded-br-xl rounded-bl-xl shadow-lg shadow-red-500">{nombre}</h2>
</div>
<style>
    .CardsAparece{
		animation: 2.2s alternate animationPrinc;
	}
	@keyframes animationPrinc {
		from{
			opacity: 0;
		}
		to{
			opacity: 1;
		}
	}
</style>